#root {
    max-width: 2560px;
    margin: 0 auto;
    box-sizing: border-box;
}

span {
    line-height: 130%;
}
body {
    background-color: #f5f6ff;
}
::-moz-selection {
    background: #c89b71;
}
::-webkit-selection {
    background: #c89b71;
}
::selection {
    background: #c89b71;
}

.smooth-hover {
    transition: bottom 0.3s ease-in-out;
}

.smooth-hover:hover {
    bottom: -80px;
}
.move-hover {
    transition: transform 0.3s ease;
}

.move-hover:hover {
    transform: translateY(-10px); /* Adjust the value as needed */
}

.parent-container {
    justify-content: center;
}

.icon {
    color: #707a95;
}
.icon:hover {
    color: #2c2c2c;
}
